$color-black: #000000;
$color-grey: #0F0F0F;
$color-white: #FFFFFF;
$color-grey-text: #969696;
$color-light-grey: #D0D0D0;

$content-width: 1110px;
$conteyner-width: 1920px;
$another-conteyner-big-width: 1040px;
$another-conteyner-small-width: 880px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;