.main-conteyner-upper{
  background-color: $color-black;
  color: $color-white;
  display: flex;
}

.main-upper-left{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-upper-text{
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  padding-top: 63px;
  padding-bottom: 60px;

}

.main-content-photo{
  background-color: #191B1C;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 55px;
  padding-bottom: 55px;
  margin-left: 50px;
  transition: 1s;
  &:hover{
    transform: scale(1.5);
  }
}

.main-content-text{
  background-color: $color-black;
  font-family: 'Playfair Display', serif;
  margin-left: 50px;
  padding-bottom: 20px;
}


.main-upper-right{
  background-image: url("../src/img/main/upper-photo.svg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  height: 730px;
  width: 100%;
}

.button-catalog{
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  border: solid;
  border-color: $color-white;
  background-color: transparent;
  color: $color-white;
  width: 120px;
  height: 40px;
  margin-bottom: 90px;
  cursor: pointer;
  &:hover{
    color: gold;
  }
}

.catalog-text{
  margin-bottom: 65px;
  font-family: 'Playfair Display', serif;
  font-size: 36px;
}

.main-conteyner-down{
  background-color: $color-black;
  display: flex;
}

.main-down-left{
  background-image: url("../src/img/main/down-photo.svg");
  width: 100%;
  height: 600px;
}

.main-down-right{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.see-collections{
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  border: solid;
  border-color: $color-white;
  background-color: transparent;
  color: $color-white;
  width: 300px;
  height: 40px;
  cursor: pointer;
  &:hover{
    color: gold;
  }
}

.collections-text{
  color: $color-white;
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  margin-bottom: 65px;
}

.collections-text-info{
  text-align: center;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  color: $color-white;
  width: 471px;
  height: 173px;
  display: flex;
}



