.wrapper{
  max-width: $content-width;
  margin: auto;
}

.conteyner{
  max-width: $conteyner-width;
  margin: auto;
}

.container-big{
  max-width: $another-conteyner-big-width;
  margin: auto;
}

.container-small{
  max-width: $another-conteyner-small-width;
}